[Unit]
Description=aDSP RPC daemon
After=dev-fastrpc\x2dadsp.device dev-fastrpc\x2dadsp\x2dsecure.device
ConditionPathExists=|/dev/fastrpc-adsp
ConditionPathExists=|/dev/fastrpc-adsp-secure

[Service]
Type=exec
ExecStart=/usr/bin/adsprpcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
