[Unit]
Description=cDSP RPC daemon
After=dev-fastrpc\x2dcdsp.device dev-fastrpc\x2dcdsp\x2dsecure.device
ConditionPathExists=|/dev/fastrpc-cdsp
ConditionPathExists=|/dev/fastrpc-cdsp-secure

[Service]
Type=exec
ExecStart=/usr/bin/cdsprpcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
