[Unit]
Description=cDSP RPC daemon
After=dev-fastrpc\x2dcdsp1.device dev-fastrpc\x2dcdsp1\x2dsecure.device
ConditionPathExists=|/dev/fastrpc-cdsp1
ConditionPathExists=|/dev/fastrpc-cdsp1-secure

[Service]
Type=exec
ExecStart=/usr/bin/cdsprpcd rootpd cdsp1
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
