[Unit]
Description=sDSP RPC daemon
After=dev-fastrpc\x2dsdsp.device dev-fastrpc\x2dsdsp\x2dsecure.device
ConditionPathExists=|/dev/fastrpc-sdsp
ConditionPathExists=|/dev/fastrpc-sdsp-secure

[Service]
Type=exec
ExecStart=/usr/bin/sdsprpcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
